{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-header bg-danger">
                            <h3 class="card-title">Danh sách nhân viên</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr class="text-center">
                                    <th style="width: 50px">Stt</th>
                                    <th>Họ và tên</th>
                                    <th>Email</th>
                                    <th style="width: 90px">Giới tính</th>
                                    <th>Khóa học</th>
                                    <th style="width: 150px">Ảnh đại diện</th>
                                    <th style="width: 150px">Chỉnh sửa</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for staff in allStaff %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td>{{ staff.last_name }}, {{ staff.first_name }}</td>
                                        <td>{{ staff.email }}</td>
                                        <td class="text-center">{{ staff.gender }}</td>
                                        <td>{{ staff.staff.course.name }}</td>
                                        <td class="text-center">
                                            {% if staff.profile_pic == "" %}
                                                No Image
                                            {% else %}
                                                <img class="img img-fluid mb-2" height="100" width="100"
                                                     src="{{ staff.profile_pic }}" alt="">
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'delete_staff' staff.staff.id %}"
                                               class="btn btn-outline-danger h-25" style="min-width: 50px"
                                               onclick="return confirm('Bạn chắc chắn muốn xóa nhân viên {{ staff.first_name }}, {{ staff.last_name }}?')">
                                                Xóa
                                            </a> -
                                            <a href="{% url 'edit_staff' staff.staff.id %}"
                                               class="btn btn-outline-dark h-25" style="min-width: 50px">
                                                Sửa
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer" style="text-align: right">
                            {% url 'add_staff' as add_staff %}
                            <a href="{{ add_staff }}"
                               class="btn btn-danger h-25 {% if add_staff == request.path %} active {% endif %}"
                               style="min-width: 150px">
                                Thêm nhân viên
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}